.map__deckriptor {
  font-size: 24px;
  text-align: center;
}

.map__wrapper {
  display: block;
  margin: auto;
  text-align: center;
}

iframe {
  width: 300px;
  height: 400px;
  @media only screen and (min-width: $tablet-width) {
    width: 720px;
    height: 300px;
  }

  @media only screen and (min-width: $desktop-width) {
    width: 850px;
  }
}
